<ul id="authors" class="listLobby">
    Lobbies : 
    {% for id, lobby in lobbies %}
    <li><a href="{{page.url}}{{id}}">{{id}}</a> [{{lobby.users.length}}p] <!-- ajouter playtime, nsfw, nb px, completion --></li>
    {% endfor %}
</ul>